# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.egg-info
*.dist-info
SOURCES.txt
PKG-INFO

# PyInstaller
/pyinstaller/

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
# Pipfile.lock

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# profiling data
.prof

# dotenv environment variables file
.env
.env.*

# IDE specific settings
.vscode/
.idea/
*.swp
*.swo

# Other files and folders
.DS_Store
Thumbs.db

.direnv
